.news-card-0{

  background: #B44155;
  position: relative;
  border-radius: 2rem;
  cursor: pointer;
  
}
.news-card-1{

  background: #D1D1D5;
  position: relative;
  border-radius: 2rem;
  cursor: pointer;
}
.news-card-2{

  background: #5A7D7C;
  position: relative;
  border-radius: 2rem;
  cursor: pointer;
}
.news-card-3{
  
  background: #404E73;
  position: relative;
  border-radius: 2rem;
  cursor: pointer;
}
.gap-0{
  gap:10;
}
.gap-1{
  gap:10;
}